html{
  height: 100%;
}

body{
  margin: 0;
  height: 100%;
  position: relative;
  background: hsl(0, 0%, 12%);
}

#honkpad-main-wrap{
  display: flex;
  margin-left: 40px;
}

#honkpad-main-wrap.orientation-row{
  flex-direction: row;
  height: 100%;
}

#honkpad-main-wrap.orientation-column{
  flex-direction: column;
  height: 100%;
}

#honkpad-main-wrap.orientation-row > #firepad, #honkpad-main-wrap.orientation-row > #honkpad-log{
  height: 100%;
}

#honkpad-main-wrap.orientation-column > #firepad, #honkpad-main-wrap.orientation-column > #honkpad-log{
  width: 100%;
}

#honkpad-log{
  overflow-y: auto;
  box-sizing: border-box;
  padding: 5px;
}

#honkpad-log-resize{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  position: relative;
}

#honkpad-main-wrap.orientation-row > #honkpad-log-resize{
  height: 100%;
  border-left: 5px double hsl(0, 0%, 50%);
  cursor: col-resize;
}

#honkpad-main-wrap.orientation-column > #honkpad-log-resize{
  width: 100%;
  border-top: 5px double hsl(0, 0%, 50%);
  cursor: row-resize;
}

.CodeMirror{
  height: 100%;
}

.honkpad-log-line{
  white-space: pre-wrap;
  font-family: "DejaVu Sans Mono", monospace;
  line-height: 1em;
}

.honkpad-log-line > *{
  display: inline-block;
}

.honkpad-log-time{
  color: hsl(0, 0%, 30%);
  padding-right: 5px;
}

.honkpad-log-text{}

.honkpad-log-text:nth-child(odd){
  background: hsl(0, 0%, 12%);
}

.honkpad-log-text:nth-child(even){
  background: hsl(0, 0%, 13%);
}

.honkpad-log-text.default{
  color: white;
}

.honkpad-log-text.warning{
  color: hsl(300, 85%, 52%);
}

.honkpad-log-text.error{
  color: red;
}

.honkpad-log-text.success{
  color: hsl(127, 100%, 30%);
}

.honkpad-log-text.info{
  color: hsl(222, 100%, 59%);
}

#honkpad-top-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid hsl(0, 0%, 40%);
  background: black;
}

#honkpad-top-bar > *{
  display: flex;
  flex-direction: row;
}

.honkpad-button{
  padding: 5px;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
}

#honkpad-compile{
  background: hsl(240, 50%, 50%);
}

#honkpad-compile:hover{
  background: hsl(240, 50%, 60%);
}

#honkpad-compile:active{
  background: hsl(240, 50%, 55%);
}

#honkpad-run{
  background: hsl(120, 50%, 50%);
}

#honkpad-run:hover{
  background: hsl(120, 50%, 60%);
}

#honkpad-run:active{
  background: hsl(120, 50%, 55%);
}

#honkpad-orientation{
  background: hsl(0, 0%, 5%);
}

#honkpad-orientation:hover{
  background: hsl(0, 0%, 15%);
}

#honkpad-orientation:active{
  background: hsl(0, 0%, 12%);
}


#honkpad-roomlist-wrap{
  width: 40px;
  z-index: 5;
  position: absolute;
  font-family: sans-serif;
  height: 100%;
}

#honkpad-roomlist-title{
  color: white;
  position: absolute;
  font-size: 2em;
  transform: rotateZ(90deg);
  transform-origin: 0.25em 1em;
  transition: transform 0.5s;
  top: 0;
  pointer-events: none;
  text-shadow: 1px 1px 0 black;
}

#honkpad-roomlist-container{
  background: black;
  width: 230px;
  height: 100%;
  margin-left: -190px;
  transition: margin-left 0.5s;
  padding-top: 2em;
  box-sizing: border-box;
}

#honkpad-roomlist-container:hover{
  margin-left: 0px;
}

#honkpad-roomlist-container:hover + #honkpad-roomlist-title{
  transform: rotateZ(0deg);
}

.honkpad-roomlist-item{
  color: white;
  cursor: pointer;
  background: hsl(0, 0%, 10%);
  display: flex;
  flex-direction: row;
}

.honkpad-roomlist-item-active > .honkpad-roomlist-item-text{
  color: hsl(120, 50%, 50%);
  background: hsl(120, 50%, 10%);
}

.honkpad-roomlist-item + .honkpad-roomlist-item{
  margin-top: 4px;
}

.honkpad-roomlist-item-text{
  width: 100%;
}

.honkpad-roomlist-item-text:hover{
  background: hsl(0, 0%, 15%);
}

.honkpad-roomlist-item-text:active{
  background: hsl(0, 0%, 12%);
}

.honkpad-roomlist-item-deletebutton{
  color: red;
  margin-right: 4px;
}

.honkpad-roomlist-item-deletebutton:hover{
  background: hsl(0, 0%, 20%);
}

#honkpad-roomlist-createbutton{
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  color: black;
  background: hsl(0, 0%, 85%);
  cursor: pointer;
  width: 25%;
  padding-left: 4px;
}

#honkpad-roomlist-createbutton:hover{
  background: hsl(0, 0%, 92%);
}

#honkpad-roomlist-createbutton:active{
  background: hsl(0, 0%, 88%);
}

.powered-by-firepad{
  display: none;
}

#honkpad-about{
  position: absolute;
  bottom: 5px;
  right: 5px;
  border-radius: 50%;
  opacity: 0.1;
  background: hsl(0, 0%, 90%);
  font-size: 2em;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  user-select: none;
}

#honkpad-about:hover{
  opacity: 0.2;
}

#honkpad-about:active{
  opacity: 0.15;
}
